body {
	padding: 0;
	margin: 0;
	height: 100vh;
	background-image: url("../image/Group 1.jpg"); /*.. - escape to prevent level*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	font-family: 'Mako', sans-serif;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	border-bottom: 1px solid rgba(231, 231, 242, 0.4);
	margin: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 10px 0;
}

.header a {
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 30px;
}

.header a:hover {
	color: rgba(231, 231, 242, 0.3);
}

.header a svg {
	fill: #FFFFFF;
}

.header a svg:hover {
	fill: rgba(231, 231, 242, 0.3);
}

.header-leftmenu a:last-child, .header-rightmenu a:last-child {
	padding-right: 0;
}

.header-rightmenu {
	display: flex;
}

.header-rightmenu-search {
	height: 16px;
	width: 16px;
	align-self: center;
}

.header-logo {
	font-size: 18px;
	line-height: 20px;
	color: #FFFFFF;
	letter-spacing: 0.01em;
	font-weight: bold;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-title {
	margin-left: 5%;
	width: 450px;
	color: #FFFFFF;
}

.content-title h1 {
	font-size: 60px;
	font-weight: bold;
	margin: 0 0 20px 0;
}

.content-title h6 {
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0.03em;
	margin: 0;
}

.content-promo {
	height: 100%;
	width: 300px;
	display: flex;
	justify-content: space-between;
	rgba(42, 50, 52, 0.8);
	backdrop-filter: blur(10px);
	border-radius: 16px 0px 0px 16px;
	padding-left: 20px;
}

.content-promo-text-next {
	font-size: 16px;
	color: #FFFFFF;
}

.content-promo-text-title {
	font-size: 28px;
	line-height: 40px;
	color: #FFFFFF;
}

.content-promo-text-arrow {
	width: 35px;
	padding: 15px 0;
	position: relative;
	left: 0;
	transition: left 0.3s ease 0s;
}

.content-promo-text-arrow:hover {
	left: 10px;
}

.content-promo-photo {
	width: 50%;
	height: 100%;

}

.booking {
	rgba(42, 50, 52, 0.8);
	backdrop-filter: blur(10px);
	border-radius: 20px 20px 0px 0px;
	margin: 0 5%;
	height: 120px;
	padding: 0 20px;
}

.booking-text {
	font-size: 16px;
	color: #FFFFFF;
}

.booking-data {
	display: flex;
	justify-content: space-between;
}

.booking-data-form {
	display: flex;
	border: 1px solid rgba(231, 231, 242, 0.3);
	border-radius: 10px;
	width: 100%;
}

.booking-data-btn {
	width: 190px;
	margin-left: 20px;
	background: #91CB82;
	border-radius: 10px;
	color: #FFFFFF;
	border: none;
	outline: none;
}

.booking-data-btn:hover {
	background: #83b577;
}

.booking-data p {
	margin:0;
	font-size: 10px;
	color: rgba(231, 231, 242, 0.3);
}

.booking-data div {
	border-right: 1px solid rgba(231, 231, 242, 0.3);
}

.booking-data div:last-child {
	border-right: none;
}

.booking-data-form > div { /*непосредственные дочерние дивы*/
	display: flex;
	align-items: center;
	padding: 10px;
}

.booking-data img {
	height: 18px;
	margin-right: 5px;
}

.booking-data-input {
	width: 100%;
}

.booking-data-accomodation {
	flex-shrink: 1;
	flex-basis: 40%;
}

.booking-data-checkin, .booking-data-checkout {
	flex-shrink: 5;
	flex-basis: 15%;
}

.booking-data-guests {
	flex-shrink: 3;
	flex-basis: 30%;
}

.booking-data-form input {
	border: none;
	width: 100%;
	background: none;
	color: #FFFFFF;
	font-size: 14px;
	border-bottom: 	1px solid rgba(0,0,0,0);
}

.booking-data-form input:focus,  .booking-data-form input:active {
	color: #FFFFFF;
	font-size: 14px;
	outline: none;
	border-bottom: 1px solid rgba(231, 231, 242, 0.3);
	border-radius: 0;
}



@media screen and (max-width: 900px) {
	.header a {
		padding-right: 15px;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}

	.content-title {
		text-align: center;
		margin: 0 0 10px 0;
		width: 	90%;
	}

	.content-title h1 {
		font-size: 40px;
	}

	.content-promo {
		align-self: flex-end;
		box-sizing: border-box;	
	}

	.content-promo-text-next {
		margin: 15px 0;
	}

	.content-promo-text-title {
		margin: 0;
	}

		.content-promo-text img {
		padding: 10px 0;
	}


	.booking {
		height: initial;
	}

	.booking-text {
		margin: 10px 0;
	}

	.booking-data {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.booking-data-form {
		flex-direction: column;
		height: 100%;
	}

	.booking-data-form > div {
		flex-basis: initial;
		flex-shrink: initial;
		border-right: none;
	}

	.booking-data div {
		border-bottom: 1px solid rgba(231, 231, 242, 0.3);
	}

	.booking-data div:last-child {
		border-bottom: none;
	}

	.booking-data-btn {
		width: 100%;
		margin: 10px 0;
		height: 40px;
	}
}

@media screen and (max-width: 500px) {
	.header-leftmenu, .header-rightmenu {
		display: none;
	}

	.header-logo {
		position: initial;	
		transform: initial;	
	}
}

@media screen and (max-width: 320px) {
		.content-promo {
				width: 	90%;
				align-self: initial;	
				border-radius: 16px 16px 16px 16px;
				overflow: 	hidden;	
		}
}

@media screen and (max-width: 900px) and (max-height: 770px){
	body {
		background-size: initial;
		background-position: initial;	
		height: initial;
	}
}